<style>
    .table > tbody > tr:nth-child(2n+1) > td {
        background-color: #FAFAFC !important;
    }

    .table > tbody > tr:nth-child(2n+1) > th {
        background-color: #E8F2FF;
    }

    table tr > td:first-child {
        padding-left: 20px;
    }

    a {
        text-decoration: none;
        color: #222222;
    }

    .is-collected {
        color: #4B91EA;
    }

    .no-collected {
        color: darkgray;
    }

    .page-first *, .page-last * {
        color: #0D6EFD;
    }
</style>
{% block content %}

{% endblock %}


