<style>
    .mynav2 * {
        font-size: 13px;
        text-align: left;
    }

    .mynav2-wrapper {
        padding: 20px;
    }

    /* 分类类别的样式 */
    .type-label {
        line-height: 28px;
        width: 65px;
        text-align: left;
        margin-right: 5px;
        vertical-align: top;
    }

    /* 分类内容包裹div */
    .screen-item-box {
        max-width: 960px;
        line-height: 30px;
        display: inline-block;
    }

    /* 分类内容标签 */
    .choice-btn {
        padding: 0 15px;
        white-space: nowrap;
        line-height: 28px;
    }

    .choice-btn a {
        text-decoration: none;
        color: #222222;
    }

    /*被选择的内容标签*/
    .choose {
        color: #4B91EA !important;
    }

    /* 不限按钮样式 */
    .btn-nolimited {
        position: relative;
        top: -2px;
        padding: 0 11px;
        line-height: 18px;
    }


</style>

{% block content %}

{% endblock %}
