{% extends 'tags/nav-top.html' %}

{% block content %}
    <div class="mynav2">
        <div class="mynav2-wrapper">
            <div>
                <div class="screen-item-box">
                    <span class="choice-btn"><a class="" href="/user/collect/inside">站内文章</a> </span>
                    <span class="choice-btn"><a class="" href="/user/collect/outside">站外文章</a> </span>
                    <span class="choice-btn"><a class="" href="/user/collect/pdf">PDF文章</a> </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
