{% extends 'temp.html' %}

{% load tag_site %}
{% load tag_article %}

{% block title %}SCM文章{% endblock %}


{% block body %}
    <div id="header">
        {% tag_header request %}
    </div>
    <div id="article">
        <div id="nav-left">
            {% tag_ArticleNavLeft request %}
        </div>
        <div id="main">
            <div id="nav-top">
                {% include 'appArticle/tags/article-nav-top.html' %}
            </div>
            <div style="display: block;background-color: rgba(248, 248, 249, 1);height: 10px;"></div>
            <div id="content">
                {% include 'appArticle/tags/article-list-content.html' %}
            </div>
        </div>
    </div>
{% endblock %}
