{% extends 'temp.html' %}

{% load tag_site %}
{% load tag_article %}
{% load tag_expert %}

{% block title %}用户中心{% endblock %}

{% block body %}
    <div id="header">
        {% tag_header request %}
    </div>

    <div id="article">
        <div id="nav-left">
            {% include 'appUser/tags/user-nav-left.html' %}
        </div>
        <div id="main">
            <div id="content">
                {% include 'appUser/tags/user-info.html' %}
            </div>
        </div>
    </div>
{% endblock %}
