{% extends 'tags/list_content.html' %}

{% block content %}
    <table class="table table-borderless">
        <tr class="text-center">
            <th>专家</th>
            <th>简介</th>
        </tr>
        {% for expert in experts %}
            <tr>
                <td class="text-left">
                    <div class="block" style="width: 150px;">
                        <a href="{{ expert.url }}">{{ expert.name }}</a>
                    </div>
                </td>
                <td class="text-left">
                    <div class="block content-brief" style="width:885px;">
                        {{ expert.brief }}
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}