<style>
    .list-group, .list-group li {
        border: none;
        text-align: left;
    }

    .list-group-item a {
        text-decoration: none;
        color: #222222;
    }

    .list-group .my-level2 {
        position: relative;
        left: 18px;
    }

    .list-group .my-level1 {
        margin:5px 0;
    }

    .list-group-item i {
        display: inline-block;
        width: 14px;
        color: black;
        margin: 0;
        padding: 0;
    }

</style>
<ul class="list-group">
    {% for navLeft1 in navLeft1s %}
        <li class="list-group-item my-level1"><i class="bi bi-book"></i> <a class="a-disable" href="#">{{ navLeft1.name }}</a></li>
        {% for subNavs in navLeft1.subNavs.all   %}
            <li class="list-group-item my-level2"><a href="{{ subNavs.url }}">{{ subNavs.name }}</a></li>
        {% endfor %}
    {% endfor %}
</ul>